<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить слово</title>
</head>
<body>
    <h1>Добавить слово в базу данных</h1>

    <form action="/cw" method="post">
        <label for="word">Введите слово:</label>
        <input type="text" id="word" name="word" required>

        <button type="submit">Добавить</button>
    </form>

     <a href="/">
        <button type="button">Вернуться</button>
    </a>

    <a href="/word">
        <button type="button">Посмотреть БД</button>
    </a>

    <a href="/delete_word">
        <button type="button">Удалить слово из БД</button>
    </a>
</body>
</html>