<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Угадай слово</title>
</head>
<body>
    <h1>Угадай слово!</h1>
    <p>Слово: {{ " ".join(hidden_word) }}</p>

    <form action="/guess" method="post">
        <label for="guess">Введите букву:</label>
        <input type="text" id="guess" name="guess">
        <button type="submit">Отправить</button>
    </form>

    <a href="/create_word">
        <button type="button">Добавить слово в БД</button>
    </a>
</body>
</html>